.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 550px) {
  .App {
    /* max-width: 350px; */
  }
}